<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="domain" value="tps.co.id" />
    <add key="username" value="axadmin@tps.co.id" />
    <add key="password" value="dynamics2012" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
        <binding name="EPROC_TPSCPOInterfacePortType" />
        <binding name="EPROC_TPSCPOInterfaceSOAP11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="EPROC_TPSCPOInterfacePortType12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="EPROC_TPSCPOInterfaceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_EprocAxMaximoService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.19.154.79:100/Service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="Service1Soap" contract="ITPIService.Service1Soap"
        name="Service1Soap" />
      <endpoint address="http://172.19.154.79:100/Service1.asmx" binding="customBinding"
        bindingConfiguration="Service1Soap12" contract="ITPIService.Service1Soap"
        name="Service1Soap12" />
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
        binding="basicHttpBinding" bindingConfiguration="EPROC_TPSCPOInterfacePortType"
        contract="MaximoEprocService.EPROC_TPSCPOInterfacePortType"
        name="EPROC_TPSCPOInterfacePortType" />
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
        binding="customBinding" bindingConfiguration="EPROC_TPSCPOInterfacePortType12"
        contract="MaximoEprocService.EPROC_TPSCPOInterfacePortType"
        name="EPROC_TPSCPOInterfacePortType12" />
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
        binding="basicHttpBinding" bindingConfiguration="EPROC_TPSCPOInterfaceSOAP11Binding"
        contract="EPROC_TPSCPOInterfacePortType" name="EPROC_TPSCPOInterfaceSOAP11Port" />
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
        binding="customBinding" bindingConfiguration="EPROC_TPSCPOInterfaceSOAP12Binding"
        contract="EPROC_TPSCPOInterfacePortType" name="EPROC_TPSCPOInterfaceSOAP12Port" />
      <endpoint address="net.tcp://tpsdmax:8201/DynamicsAx/Services/EprocAxMaximoServiceGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EprocAxMaximoService"
        contract="AxEprocService.EprocAxMaximoService" name="NetTcpBinding_EprocAxMaximoService">
        <identity>
          <userPrincipalName value="axadmin@tps.co.id" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
