<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Service1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Services/ITPI/Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="ITPIService.Service1Soap" name="Service1Soap" />
            <endpoint address="http://localhost:8888/Services/ITPI/Service1.asmx"
                binding="customBinding" bindingConfiguration="Service1Soap12"
                contract="ITPIService.Service1Soap" name="Service1Soap12" />
        </client>
    </system.serviceModel>
</configuration>