<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EPROC_TPSCPOInterfaceSOAP11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EPROC_TPSCPOInterfaceSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
                binding="basicHttpBinding" bindingConfiguration="EPROC_TPSCPOInterfaceSOAP11Binding"
                contract="EPROC_TPSCPOInterfacePortType" name="EPROC_TPSCPOInterfaceSOAP11Port" />
            <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
                binding="customBinding" bindingConfiguration="EPROC_TPSCPOInterfaceSOAP12Binding"
                contract="EPROC_TPSCPOInterfacePortType" name="EPROC_TPSCPOInterfaceSOAP12Port" />
        </client>
    </system.serviceModel>
</configuration>