<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EPROC_TPSCPOInterfacePortType" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EPROC_TPSCPOInterfacePortType12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
                binding="basicHttpBinding" bindingConfiguration="EPROC_TPSCPOInterfacePortType"
                contract="MaximoEprocService.EPROC_TPSCPOInterfacePortType"
                name="EPROC_TPSCPOInterfaceSOAP11Port" />
      <endpoint address="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface"
                binding="customBinding" bindingConfiguration="EPROC_TPSCPOInterfacePortType12"
                contract="MaximoEprocService.EPROC_TPSCPOInterfacePortType"
                name="EPROC_TPSCPOInterfaceSOAP12Port" />
    </client>
  </system.serviceModel>
</configuration>